<nav class="navbar navbar-default" style="margin-top:20px">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'RubyTodo', '/', :class=>'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Authors", authors_path %></li>
      <li><%= link_to "Tasks", tasks_path %></li>
    </ul>
  </div>
</nav>
